

@tailwind base;
@tailwind components;
@tailwind utilities;


.active hr {
  display: block;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wave-bg {

  background: linear-gradient(270deg, #a18cd1, #fbc2eb, #fad0c4);
  animation: wave 20s ease infinite;
;
}
